header{
    /* Bildet er tatt av <a href="https://pixabay.com/no/users/markmags-2013644/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1182713">Mark Mags</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1182713">Pixabay</a> */
    background-image: url(../bilder/analyse.jpg);
}

#text-box p{
    color: black;
}

#text-box{
    background-color:rgba(255, 255, 255, 0.712) ;
}

.parent-art{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #f5f5f5;



}

.parent-art article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
}

.parent-art article h3{
    width: 100%;
    font-size: 21px;
    margin: 20px 0;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.parent-art article h4{
    display: block;
    width: 100%;
    font-size: 21px;
    margin: 20px 0;
    color: rgb(110, 110, 110);

}

.parent-art article h1{
    margin-top: 3rem;
    width: 100%;
    font-size: 40px;
}

.parent-art article p{
    line-height: 1.6;
    color: rgb(110, 110, 110);
}



.parent-art article figure{
    width: 100%;
    margin: 0;

}

.parent-art article figure img{
    width: 100%;

}

#cms-hedear{

    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    grid-area: header;
    /* Bildet som er brukt er designet selv i Canva.com */
    background-image: url(../bilder/cms-header.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 86vh;

}

#uu-vs-seo-hedear{

    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    grid-area: header;
    /* Bildet som er brukt er designet selv i Canva.com */
    background-image: url(../bilder/uu-vs-seo.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 86vh;

}

#last-ljein{
    padding-bottom: 10rem;
}

.cms-ul{
    margin: 0;

}

.cms-ul ul{

    padding-left: 20px;

}

.cms-ul li{
    margin: 20px;
    color: rgb(110, 110, 110);

    
}

.parent-art article figure{
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

}
.parent-art article figure img{
    width: 40%;
}

.span-title{
    color: rgb(139, 121, 37);
}

.kilde-a{
    padding-left: 20px;
}

@media only screen and (max-width: 1201px){

    .parent-art article{

        width: 75%;
    }
    
 }

 @media only screen and (max-width: 636px){

    .parent-art article{

        width: 85%;
    }

    .parent-art article h3{

        text-decoration: none;
        line-height: 1.4;
 
    }

    .parent-art article h3{

        text-decoration: none;
        line-height: 1.4;
 
    }
    
    .parent-art article h4{

        text-decoration: none;
        
 
    }
 }

