@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Raleway&display=swap');

/* font for hele siden */

* {
    font-family: Roboto;
    font-display: swap;

}

/* body som inneholder sidens innehold */

body {
    margin: 0;


}

html {
    scroll-behavior: smooth;
}
/* tab index for å lage siden for UU */

#grid_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto 100% 100% 50%; */
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main" 
    "footer footer footer";
}


/* Nav */

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    box-shadow: 0px -2px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
}

nav figure{
    width: 20%;
    margin: 10px;
}

nav figure a img{
    width: 120px;
    height: 70px;
}
.navbar-links ul li{
    list-style: none;
    display: inline-block;
}

.navbar-links ul {
    display: flex;
    padding: 0;
    margin: 0 25px 0 0;
    box-sizing: border-box;
}

.navbar-links ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    display: block;
}

.navbar-links ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    box-sizing: border-box;
}

.toggle-button{
    position: absolute;
    top: 2.2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;

}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

}

/* header */


header {
    display: flex;
    width: 100%; 
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    grid-area: header;
    /* Photo by <a href="https://unsplash.com/@magicpattern?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">MagicPattern</a> on <a href="https://unsplash.com/backgrounds/colors/gradient?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url(../bilder/header_image.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 86vh;
   
}

#text-box {
    margin: 3.5rem;
    padding: 5px;
    background-color: rgba(235, 235, 235, 0.356);
    border-radius: 13px;
    height: 56%;

}

#text-box h1{

    font-family: 'Anton', sans-serif;
    font-weight: 1000;
    font-size: 35px;
    line-height: 55px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 6px;
    margin: 25px;
}

#text-box p {
    width: 500px;
    line-height: 30px;
    color: rgb(78, 78, 78);
    margin: 25px;
}

#text-box a {
    display: inline-block;
    border: solid 1px black;
    text-decoration: none;
    padding: 13px;
    width: 25%;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px 0 0 25px;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    grid-area: main;
}

/* kontakt oss section */

#kontakt-oss-section{
    background-image: url(/bilder/kontakt.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#kontakt-oss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 50px 0;
    border-radius:12px;
    background-color: rgba(253, 253, 253, 0.562);
    margin: 30px;
    
}


#kontakt-oss-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#kontakt-oss-text-section p {
    width: 100%;
    color: #000000;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
}

#kontakt-oss h2{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

#kontakt-oss-text-section a {
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    width: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: black;
   
}

/* Article section */

#parent-article-section {
    margin: 0 0 40px 0;
}

#article-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 30px 0 5px;
    padding-left: 30px;

}

#parent-article-section h2 {
    flex-basis: 100%;
    margin-top: 50px;
    font-size: 30px;
}

.article-carts {
    width: calc(100% / 3 - 20px);
    box-shadow: -3px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: rgba(191, 192, 192, 0.144);
    border-radius: 13px;
    
}

.article-carts:hover {
    box-shadow: none;
    background-color: rgba(77, 169, 230, 0.13);
    box-shadow: 25px 7px 21px -3px rgba(0,0,0,0.1);
    
}

article h3 {
    margin-left: 20px;
    font-size: 25px;
}

.articles-cart-button {
    display: inline-block;
    margin: 25px 0 25px 18px;
    border: solid 1px black;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    width: 22%;
    text-align: center;
    color: #000000;
    
    border-radius: 10px;
}

.article-carts p {
    padding: 0 17px;
    color: rgb(78, 78, 78);
}

.article-carts figure {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
}

.article-carts figure img{
    width: 90%;
    height: auto;
    border-radius: 12px;
}
/*footer*/

footer{
    border-top: solid 1px rgb(182, 182, 182);
    grid-area: footer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

}

footer section a{

    padding: 12px;
    margin: 10px;
    color: rgb(78, 78, 78);
    border: solid 1px rgb(78, 78, 78);
    border-radius: 50%;

}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

footer ul li{
    padding: 0 18px 20px 0;
    

}
footer ul li a{
    color: rgb(78, 78, 78);
    text-decoration: none;

}

footer p{
    text-align: center;
    color: rgb(78, 78, 78);
    margin-bottom: 60px;
}



/* Det er nav baren responsivt */

@media only screen and (max-width: 733px){

    .toggle-button{
        display: flex;
        top: 2rem;
    }
    
    nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links{
        display: none;
        width: 100%;
        
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        
    }

    .navbar-links ul li{
        text-align: center;
        padding: 20px;
        margin: 8px;
        border-bottom:solid 1px rgb(226, 226, 226);
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;

    }
    .navbar-links ul li a:hover {
        text-decoration: none;
    }

    .last-child{
        border-bottom: none;

    }

    #text-box {
        margin: 1.6rem;
        width: 90%;
        
    }
    #text-box h1{
        font-size: 35px;
    } 
    #text-box p {
        width: 90%;
    }

}

/* Article section responsivt */

@media only screen and (max-width: 1113px){
    #parent-article-section{
        margin: 20px;
    }

    #article-section {
        margin: 0;
        padding-left: 0;
    
    }

}

@media only screen and (max-width: 915px){
    #grid_container {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: auto 100% 100% 50%; */
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main" 
        "footer footer";
    }

.article-carts{
    width: 45%;
    
}

#article-section {
    margin: 0;
    padding: 0;

}

#kontakt-oss-text-section a {
    width: 100%;
}

#kontakt-oss-text-section {
    width: 70%;
}

}

@media only screen and (max-width: 657px){


    #grid_container {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: auto 100% 100% 50%; */
        grid-template-areas: 
        "nav"
        "header"
        "main" 
        "footer"
        ;
    }
#parent-article-section{
    margin: 0;
}

.article-carts{
    width: 100%;
    
}
#article-section {
    margin: 0 10px 20px 10px;
}


 header{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

 #text-box{
     height: 86%;
 }


 #kontakt-oss-section{
    background-image: none;
    background-color: rgb(255, 255, 255);
}

#kontakt-oss-text-section a {
    width: 50%;
}

#kontakt-oss-text-section{
    width: 100%;
    
}

}

@media only screen and (max-width: 490px){

    #parent-article-section{
        margin: 0;
    }

    .article-carts{
        width: 100%;
        margin: 0 0 30px 0;
        
    }
    
    #article-section {
        margin: 0 15px 20px 15px;
    }


    #text-box{
        width: 100%;
        height: auto;
        margin: 10px;    
    }

    #text-box a{
        margin: 30px 0 30px 28px;
    }

    #kontakt-oss-text-section{
        width: 100%;
        

    }


    }




